html,
body {
   height: 100%;
   margin: 0;
}

body {
   background-color: lightgrey;
   text-align: center;
}

main {
   margin: 20px;
   background-color: white;
}

h2 {
   text-align: center;
   color: navy;
   padding-top:15px;
}

footer {
   background-color: #1f3547 !important;
   color: #ffffff;
}

.banner img {
   display: block;
   height: 400px;
}

.padAll10 {
   padding: 10px;
}

.padAll20 {
   padding: 20px;
}

.padTop10 {
   padding-left: 10px;
   padding-top: 10px;
}

.marginLeft20 {
   margin-left: 20px;
}

.banner span,
.place span {
   display: block;
}

.buttons {}

.buttons>div,
.buttons>button {
   display: inline-block;
   margin: 0 10px
}

.banner img {

   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   height: 400px;
}

.place img {

   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   height: 300px;
}

.thumb1 {
   background: 50% 50% no-repeat;
   /* 50% 50% centers image in div */
   width: 250px;
   height: 250px;
}

/* STICKY FOOTER */
.stickyWrapper {
   min-height: 100%;

   /* Equal to height of footer */
   /* But also accounting for potential margin-bottom of last child */
   margin-bottom: -50px;
}

.footer,
.push {
   height: 50px;
}


/* NAV */

.leftBox {
   display: inline-block;
}

.mainBox {
   display: inline-block;
}

.rightBox {
   display: inline-block;
}


.navbar-custom {
   background-color:#1f3547;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
   color: #ffffff;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
   color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
   color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
   background-color: darkcyan;
}

.navbar-custom .dropdown-item {
   color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
   color: #191919;
   background-color:darkcyan;
}

.nav-item {
   margin: 0 10px 0 10px;
}

.navbar-text {
   margin-left: 80px;
}


/* MEDIA */

@media (min-width: 768px) {
   aside {
       height: 100%;
   }
}